apps/
node_modules/
.turbo/
tools/create-jjlabs-app/dist/
tools/create-jjlabs-app/node_modules/
tools/create-jjlabs-app/template/node_modules/
tools/create-jjlabs-app/template/.turbo/
tools/create-jjlabs-app/template/apps/app/.next/
tools/create-jjlabs-app/template/apps/web/.next/
tools/create-jjlabs-app/template/apps/*/node_modules/
tools/create-jjlabs-app/template/packages/*/node_modules/
tools/create-jjlabs-app/template/.env
tools/create-jjlabs-app/template/apps/app/.env
tools/create-jjlabs-app/template/apps/app/.env.production
tools/create-jjlabs-app/template/apps/app/coverage/
tools/create-jjlabs-app/template/apps/web/.env
tools/create-jjlabs-app/template/packages/database/.env
tools/create-jjlabs-app/template/packages/*/coverage/
tools/create-jjlabs-app/template/packages/*/.turbo/
