dist/
node_modules/
template/node_modules/
template/.turbo/
template/apps/app/.next/
template/apps/web/.next/
template/apps/*/node_modules/
template/packages/*/node_modules/
template/**/.env
template/**/.env.*
template/apps/app/coverage/
template/packages/*/coverage/
template/packages/*/.turbo/

test-project/

# OS artifacts
.DS_Store
*.pem

# Debug logs
npm-debug.log*
